/*Сброс стилей*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    width: 1280px;
    margin: 0 auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.void {
    position: absolute;
    visibility: hidden;
}

/*Кнопки*/
.button {
    outline: none;
}

.button:hover {
    cursor: pointer;
    background-color: #FDDCC4;
    border: none;
}

button.light {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: inherit;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */
    letter-spacing: 0.06em;
    color: #292929;
}

button.round {
    width: 52px;
    height: 52px;    
    
    box-sizing: border-box;
    border-radius: 100px;
    background-color: inherit;
    line-height:52px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    
    text-align: center;
}

button.number {
    color: #292929;
    background-color: inherit;
    background-color: #F1CDB3;
    border: none;
}

button.disabled {
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
}

button.disabled:hover {
    cursor: auto;
    background-color: inherit;
    border: 2px solid #CDCDCD;
}

button.enabled {
    border: 2px solid #F1CDB3;
    color: #292929;
    background-color: inherit;
}

/*header*/
.cover-header {
    width: 1280px;
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
}

header {
    height: 120px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo>h2 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 10px;
}

.header-logo>h3 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
    text-align: center;
}

nav.navigation-header {
    width: 443px;
    height: 27px;
}

nav.navigation-header>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li.inactive>a {    
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    /* identical to box height, or 24px */
    /* color-light-l */
    color: #545454;
}

li.inactive>a:hover {
    color: #292929;
}

li.active>a {    
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    /* identical to box height, or 24px */
    /* color-light-s */
    color: #545454;
    border-bottom: #F1CDB3 3px solid;
}


/*cover-our-friends*/
div.cover-our-friends {
    background-color: #F6F6F6;
    padding-top: 80px;
    padding-bottom: 50px;
}

div.cover-our-friends>div.block-content {
    width: 1200px;
    /*height: 697px;*/
    margin: 0 auto;
    background-color: #F6F6F6;
}

div.cover-our-friends>div.block-content>h2 {    
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    margin-bottom: 45px;
}

div.galary {
    width: 1200px;
    background-color: #F6F6F6;
}

div.images-cover {
    width: 990px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    grid-row-gap: 30px;
    margin-bottom: 45px;
}

div.images-cover>div.galary {
    width: 270px;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 9px;
    padding: 30px 0;
    cursor: pointer;
}

div.galary-item {
    background: #FAFAFA;
    height: 435px;
    cursor: pointer;
}

div.img-cover {
    width: 270px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.item-description {
    height: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

div.item-description>h3 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */
    letter-spacing: 0.06em;
    color: #545454;
}

div.galary-control {
    width: 340px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;

}
/*footer*/

footer {
    height: 315px;
    background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    padding-top: 40px;
}

footer>div {
    width: 1200px;
    height: 315px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.first-footer-item {
    width: 279px;
    height: 234px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.second-footer-item {
    width: 302px;
    height: 234px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer>div>div>h3 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

footer>div>div>a {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */
    letter-spacing: 0.06em;
    color: #F1CDB3;
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer>div>div>a>img {
    margin-right: 20px;
}

/*Media requests*/

@media (max-width: 1279px) {

    body {
        width: 768px;
    }

    div.cover-header {
        width: 768px;
    }

    header {
        width: 708px;
    }

    div.cover-our-friends {
        padding-bottom: 76px;
        height: 1577px;
    }
    
    div.cover-our-friends>div.block-content {
        width: 580px;
    }

    div.galary {
        width: 580px;
    }
    
    div.images-cover {
        width: 580px;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr ;
        margin-bottom: 40px;
    }
    
    div.cover-our-friends>div.block-content>h2 {   
        margin-bottom: 30px;
    }

    div.images-cover>div.galary {
        width: 270px;
        height: 375px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 9px;
        padding: 30px 0;
        cursor: pointer;
    }
    
    div.cover-our-friends > div > div > div.images-cover > div:nth-child(8) {
        position: absolute;
        visibility: hidden;
    }

    div.cover-our-friends > div > div > div.images-cover > div:nth-child(7) {
        position: absolute;
        visibility: hidden;
    }

    footer {
        height: 609px;
        padding-top: 30px
    }

    footer>div {
        width: 640px;
        flex-wrap: wrap;
    }

    div.first-footer-item {
        margin-top: 0;
        height: 230px;
    }
    
    div.second-footer-item {
        margin-top: 0;
        height: 230px;
    }

    footer>div>img {
        margin: 69px auto 0;
        height: 310px;
        width: 300px;
    }
}


@media (max-width: 767px) {
    body {
        max-width: 320px;
    }
    
    div.cover-header {
        width: 320px;
    }

    header {
        width: 300px;
    }

    body > div.cover-header > header > nav {
        position: absolute;
        visibility: hidden;
    }

    div.cover-our-friends {
        padding-bottom: 42px;
        padding-top: 42px;
        height: 1565px;
    }
    
    div.cover-our-friends>div.block-content {
        width: 300px;
    }

    body > div.cover-our-friends > div.block-content > h2 {
        font-size: 25px;
        margin-bottom: 42px;
    }

    div.galary {
        width: 300px;
    }

    div.images-cover {
        width: 270px;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        margin: 0 auto;
        margin-bottom: 42px;
    }

    div.cover-our-friends > div > div > div.images-cover > div:nth-child(4) {
        position: absolute;
        visibility: hidden;
    }

    div.cover-our-friends > div > div > div.images-cover > div:nth-child(5) {
        position: absolute;
        visibility: hidden;
    }

    div.cover-our-friends > div > div > div.images-cover > div:nth-child(6) {
        position: absolute;
        visibility: hidden;
    }

    body > div.cover-our-friends > div > div > div.galary-control {
        width: 300px;
    }


    footer {
        height: 779px;
    }


    footer>div {
        width: 320px;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    div.first-footer-item {
        margin-top: 0;
        height: 230px;
    }
    
    div.second-footer-item {
        margin-top: 0;
        height: 230px;
    }

    footer>div>div>h3 {
        font-size: 25px;
        text-align: center;
    }

    footer>div>div>a {
        text-align: center;
    }

    footer>div>img {
        margin: 40px auto 0;
        height: 269px;
        width: 260px;
    }

    footer > div > div.first-footer-item {
        margin-bottom: 40px;
    }

    footer > div > div.first-footer-item > a.contact-mail {
        margin: 43px auto;
    }

    footer > div > div.first-footer-item > a.contact-phone {
        margin: 0 auto;
    }

    footer > div > div.second-footer-item > a:nth-child(2) {
        margin: 40px auto;
    }

    body > footer > div > div.first-footer-item > a.contact-mail > img {
        height: 26px;
    }
}
