/*Сброс стилей*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Шрифты*/
@font-face {
    font-family: Roboto-Regular;
    src: url(assets/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(assets/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(assets/Roboto-Bold.ttf);
}


/*Основные стили*/
html {
	background-color: #E5E5E5;
}

body {
    max-width: 1600px;
	margin: 0 auto;
	background-color: white;
}

header {
    height: 95px;
    font-size: 14px;
}
header>nav {
    text-align: center;
}
.header-nav-bar {
    display: flex;
    justify-content: space-between;
    width: 583px;
    height: 95px;
    align-items: center;
    margin: 0 auto;    
}

div.your-life {
    background: url(assets/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 744px;
    color: #FFF;
    text-align: center;
}

.active-menu-item {
    font-family: Roboto-Medium;
    text-decoration: underline;
    cursor: pointer;
}

.menu-item {
    font-family: Roboto-Regular;
    cursor: pointer;
}

.menu-item:hover {
    font-family: Roboto-Medium;
    text-decoration: underline;
}

h1 {
    font-family: Roboto-Bold;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 135px;
}

h2 {
    font-family: Roboto-Bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    color: #373737;
}

h3 {
    font-family: Roboto-Medium;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #373737;
}

.your-life > p {
    font-family: Roboto-Regular;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    width: 504px;
    margin: 0 auto;
    margin-top: 20px;
}

.get-started-button {
    width: 184px;
    height: 46px;
    background: #00AFDB;
    font-family: Roboto-Bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

ul.links {    
    display: flex;
    margin: 0 auto;
    margin-top: 183px;
    width: 170px;
    justify-content: space-between;
}

ul.links>li {
    cursor: pointer;
}
div.your-life>button {
    margin-top: 30px;
}

.learn-more-button {
    width: 180px;
    height: 46px;
    background: #00AFDB;
    font-family: Roboto-Bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

div.rappresent {
    background-color: #FFFFFF;
    height: 582px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 120px 269px 140px 269px;
}

div.rappresent>div {
    width: 407px;
    height: 233px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: left;
}

div.rappresent >div> h2 {
    font-family: Roboto-Bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
}

div.rappresent >div> p {
    font-family: Roboto-Regular;
    font-size: 14px;
    line-height: 140%;
    color: #4E4E4E;
}

div.rappresent >div>button {
    margin-top: 10px;
}

div.rappresentative>img {
    width: 407px;
    height: 582px;
}

.to-strong {
    font-family: Roboto-Bold;
    color: #373737;
}

div.our-community {
    background-color: rgb(214, 127, 255);
    height: 282px;
    background-color: #F5F6F7;
    padding: 82px 0px 140px 269px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.our-community-description {
    text-align: center;
    margin-top: 30px;
}

div.our-community-description>h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
div.our-community-description>p {
    width: 298px;
    font-family: Roboto-Regular;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #4E4E4E;
}

.slides-status {
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #373737;
}

.slider-control {
    margin-right: 269px;
    margin-bottom: 20px;
    text-align: right;
}

div.slider-images {
    width: 894px;
    display: flex;
    justify-content: space-between;
}

div.implement {
    background-color: #FFF;
    height: 582px;
    padding-top: 120px;
    padding-left: 269px;
    padding-bottom: 140px;
    display: flex;
    align-items: center;
}

div.implement>div {
    margin-left: 139px;
    width: 407px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: left;
}

div.implement>div>h2 {
    width: 298px;
    font-family: Roboto-Bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
}

div.implement>div>p {
    width: 407px;
    font-family: Roboto-Regular;
    font-size: 14px;
    line-height: 140%;
    color: #4E4E4E;
    margin-top: 20px;
    margin-bottom: 30px;

}

div.sign-up {
    background: url(assets/Frame\ 7.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 324px;
    text-align: center;
    padding-top: 200px;
}

div.sign-up>h2 {
    font-family: Roboto-Bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

div.sign-up>form {
    width: 406px;
    height: 46px;
    margin: 0 auto;
    display: flex;
}

input.mail-address {
    font-family: Roboto-Regular;
    font-size: 14px;
    line-height: 140%;
    color: #373737;
    width: 316px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 0px;
    padding: 13px 0 13px 24px;
    border: none;
}

input.mail-address::placeholder {
    opacity: 0.5;
}

input.mail-accept {
    width: 66px;
    height: 46px;
    background-color: #00AFDB;
    background-image: url(assets/check-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0px;
    border: none;
    padding: 0;
    cursor: pointer;
}

div.download {
    background-color: #F5F6F7;
    height: 344px;
    text-align: center;
    padding-top: 120px;
}

div.download>h2 {
    font-family: Roboto-Bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
}

div.download>p {
    width: 480px;
    margin: 0 auto;
    font-family: Roboto-Regular;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #4E4E4E;
    margin-top: 20px;
    margin-bottom: 30px;
}
div.download>div {
    width: 402px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

div.download>div>div {
    width: 186px;
    display: flex;
    flex-direction: row;
}

.mobile-store-button {
    width: 127px;
    height: 46px;
    background: #00AFDB;
    border-radius: 0px;
    border: none;
    margin: 0px 0px;
    font-family: Roboto-Bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 46px;
    cursor: pointer;
}

.mobile-store{
    width: 59px;
    height: 34px;
    background: #009CC2;
    border-radius: 0px;
    padding-top: 12px;
    cursor: pointer;
}

footer {
    background-color: #000;
    height: 112px;
    position: relative;
    padding: 73px 160px 0 160px;
    display: flex;
    justify-content: space-between;
}

footer>nav>ul {
    width: 236px;
    display: flex;
    justify-content: space-between;
}

footer>nav>ul>li {
    font-family: Roboto-Regular;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    cursor: pointer;
}

footer>span {
    font-family: Roboto-Regular;
    font-size: 14px;
    line-height: 140%;
    color: #818181;
    
}

.logo {
    width: 44px;
    height: 45px;
    margin: 0 15px;
}

.logo-footer {
    width: 44px;
    height: 45px;
    position: absolute;
    left: 50%;
    margin: 0;
    margin-left: -22px;
}

/*hover*/

button:hover {
    background-color: #009CC2;
}

.mail-accept:hover {
    background-color: #009CC2;
}

.slider-control>img:hover {
    opacity: 0.5;
    cursor: pointer;
}

h1.must {
    position: absolute;
    visibility: hidden;
}